
div.top_bar_menu{
	padding-top: 15px;
	padding-bottom: 15px;

	margin-left: 10%;
	margin-right: 10%;

	color: lightgrey;
	border-radius: 8px;
	background: rgba(119, 151, 240, 0.5);
}


#top_bar_menu_ul{
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
}

.top_bar_menu_list_item{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;

	border-radius: 8px;
	
	display: inline;

	background: rgba(40, 20, 240, 0.5);
}


.center_page{
	position: absolute;
	width: 100%;
	height: 80%;

}

#profile_picture_icon{
	margin-top: 50px;
	margin-left: 50px;
	position: relative;
	width:15%;
	height:15%;

	border: 3px solid black;

	flex-basis: ;
}

div.profile_text_description{
	position: relative;
	padding-left: 50px;
	width: 40%;

}
div.profile_description{
	display: flex;
	align-items: center;
	justify-content: center;
}

.top_bar_menu_list_button{
	

	color: rgb(235, 235, 235);
	background-color: rgba(20, 20, 20, 0.5);


	width: 250px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;

	border-radius: 8px;

	margin-left: 20px;

}

.top_bar_menu_list_button:hover{

	background-color: rgba(40, 40, 165,.5);
}
.profile_text_description p{
	font-size: 20px;
}

.projects_main{
	
	height: 90%;
	margin-left: 100px;
	margin-right: 100px;
}
.project_in_main{	
	margin-top: 25px;
	position: relative;
}

.cellular_automata_preview_image{
	width: 300px;
	border: 1px solid black;
  	border-radius: 4px;
  	padding: 5px;
  	margin-left: 25px;


}
#cellular_automata_preview_image:hover{
	width: 400px;
}
.project_in_main_button {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 8px;
	vertical-align: middle;

	margin-left: 25px;

}

.cellular_video_section{
	position: relative;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
}


.cellular_video_section video{
	position: relative;
	display: block;
	
 	margin-left: auto;
 	margin-right: auto;

 	width: 70%;
 	height: auto;

 	border: 3px solid black;

}

#cellular_title{
	text-align: center;

}

.github_link_btn{
	position: relative;
	display: block;

	margin-left: auto;
	margin-right: auto;

	color: rgb(255, 255, 255);
	background-color: rgba(136, 179, 201, 1);


	width: 250px;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;

	border-radius: 8px;

}





.project_text_section{
	margin-left: 10%;
	margin-right: 10%;

}

.project_what_i_learned_text{

 	

}

.project_cellular_map_modes_figure img{
	width: 350px;
 	border: 3px solid black;  
}

.project_cellular_map_modes_figure{
    display: inline-block;

}






